@import "colors";

.filter {
  background-color: $white;
  border: 2px solid $grey;
  border-radius: 4px;

  padding: 16px;

  @media only screen and (max-device-width: 736px) {
    margin-bottom: 24px;
  }
}

.cover {
  height: 200px;
  width: 300px;
  position: relative;
  background-color: $grey-3;

  .shadow {
    box-shadow: inset 0 0 2px 1px $grey !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.game .hero {
  margin-top: -16px;
  position: absolute;
  height: 500px;
  width: 100%;
  overflow-y: hidden;
  z-index: 1;

  img {
    width: 100%;
  }

  .shadow {
    box-shadow: inset 0px -300px 200px 0 $grey-4 !important;
    background-color: rgba($grey-4, 0.35);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

section.game {
  padding-left: 0;
  padding-right: 0;
}

.game .container {
  position: relative;
  z-index: 2;
}

.game hr {
  border-top: 1px solid rgba($grey-04, 0.7);
}

.game .solid-background,
.game nav {
  background-color: rgba($grey-4, 0.9);
  padding: 16px;
  border-radius: 4px;
}

.games.list {
  list-style: none;
  padding-left: 0;

  .game {
    background-color: $white;
    border: 2px solid $grey;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 8px;
    display: flex;
    align-items: center;

    h4 a {
      color: $blue;
      text-decoration: none;
    }

    .user-agent {
      font-size: 16px;
    }

    .tagline {
      height: 38px;
      overflow-y: hidden;
    }

    .status {
      flex: 1;
      font-size: 28px;

      i {
        width: 100%;
        text-align: center;
        display: block;
      }
    }

    .information {
      flex: 9;
    }

    @media only screen and (max-device-width: 736px) {
      .user-agent {
        display: none;
      }

      .tagline {
        height: auto;
        min-height: 38px;
      }

      .status {
        padding-right: 8px;
      }

      .tagline span {
        display: block;
      }
    }
  }
}

.game {
  position: relative;
  border-radius: .25rem;

  .play-launch {
    width: 75px;
  }

  .online {
    color: $green;
  }

  .add {
    margin-top: 16px;
  }

  .short-name {
    font-size: 16px;
  }

  .home-page {
    font-size: 16px;
  }

  .redirect-uri {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }

  tr.discord td {
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.games.online {
  .user-agent {
    margin-bottom: 4px;
  }
}

.players {
  .player {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 2px solid $green;
    border-radius: 4px;
  }
}

.channels {
  padding-bottom: 4px;

  .channel-name {
    font-size: 12px;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 4px;
  }
}
