<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The MUD Chat Network.">
    <meta name="author" content="Gossip">

    <meta name="csrf-token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <%= if Map.has_key?(assigns, :open_graph_title) do %>
      <meta property="og:title" content="<%= @open_graph_title %>" />
    <% end %>

    <%= if Map.has_key?(assigns, :open_graph_description) do %>
      <meta property="og:description" content="<%= @open_graph_description %>" />
    <% end %>

    <%= if Map.has_key?(assigns, :open_graph_url) do %>
      <meta property="og:url" content="<%= @open_graph_url %>" />
    <% end %>

    <meta property="og:site_name" content="Gossip" />

    <%= if Map.has_key?(assigns, :title) do %>
      <title><%= @title %></title>
    <% else %>
      <title>Gossip - MUD Chat Network</title>
    <% end %>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body id="body">
    <header>
      <nav class="navbar navbar-expand-md">
        <div class="container">
          <%= link(to: page_path(@conn, :index), class: "navbar-brand") do %>
            <%= img_tag("/images/gossip.png", height: 30) %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link("Channels", to: chat_path(@conn, :index), class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link("Docs", to: page_path(@conn, :docs), class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link("Games", to: game_path(@conn, :index), class: "nav-link") %>
              </li>
              <%= if Map.get(assigns, :current_user) do %>
                <li class="nav-item">
                  <%= link("Your Games", to: manage_game_path(@conn, :index), class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link("Sign Out", to: session_path(@conn, :delete), method: :delete, class: "nav-link") %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link("Sign In", to: session_path(@conn, :new), class: "nav-link") %>
                </li>
              <% end %>
            </ul>
            <%= if !Map.get(assigns, :current_user) do %>
              <%= link("Register", to: registration_path(@conn, :new), class: "btn btn-secondary") %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <%= if flash = get_flash(@conn, :info) do %>
          <div class="alert alert-primary" role="alert">
            <%= flash %>
          </div>
        <% end %>
        <%= if flash = get_flash(@conn, :error) do %>
          <div class="alert alert-danger" role="alert">
            <%= flash %>
          </div>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <footer>
      <div class="container">
        <%= link("Media", to: page_path(@conn, :media)) %>
        |
        <%= link("Code of Conduct", to: page_path(@conn, :conduct)) %>
        |
        <%= link("MSSP Check", to: mssp_path(@conn, :index)) %>
        <%= link(to: "https://www.patreon.com/exventure", target: "_blank", class: "mb-4 float-right") do %>
          <%= img_tag("/images/patron.png") %>
        <% end %>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
