<!DOCTYPE html>
<html lang="en">
  <%= render("_head.html", assigns) %>

  <body id="body" data-user-token="<%= @conn |> user_token() %>" data-live="true">
    <%= render("_header.html", assigns) %>

    <main>
      <div class="container">
        <%= if (flash = get_flash(@conn, :info)) && Map.get(assigns, :layout_flash, true) do %>
          <div class="alert alert-primary" role="alert">
            <%= flash %>
          </div>
        <% end %>
        <%= if (flash = get_flash(@conn, :error)) && Map.get(assigns, :layout_flash, true) do %>
          <div class="alert alert-danger" role="alert">
            <%= flash %>
          </div>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <footer>
      <div class="container">
        <%= link("About", to: page_path(@conn, :about)) %>
        |
        <%= link("Code of Conduct", to: page_path(@conn, :conduct)) %>
        |
        <%= link("Contact", to: Routes.contact_path(@conn, :new)) %>
        |
        <%= link("Docs", to: page_path(@conn, :docs)) %>
        |
        <%= link("MSSP Check", to: mssp_path(@conn, :index)) %>
        <%= link(to: "https://www.patreon.com/exventure", target: "_blank", class: "mb-4 float-right") do %>
          <%= img_tag("/images/patron.png", alt: "Patreon") %>
        <% end %>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= render("_analytics.html", assigns) %>
  </body>
</html>
