<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gossip - MUD Chat Network</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body id="body">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <%= link("Gossip", to: page_path(@conn, :index), class: "navbar-brand") %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link("Chat", to: chat_path(@conn, :index), class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link("Docs", to: page_path(@conn, :docs), class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link("Games", to: game_path(@conn, :index), class: "nav-link") %>
              </li>
              <%= if Map.get(assigns, :current_user) do %>
                <li class="nav-item">
                  <%= link("Your Games", to: user_game_path(@conn, :index), class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link("Sign Out", to: session_path(@conn, :delete), method: :delete, class: "nav-link") %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link("Sign In", to: session_path(@conn, :new), class: "nav-link") %>
                </li>
              <% end %>
            </ul>
            <%= if !Map.get(assigns, :current_user) do %>
              <%= link("Register", to: registration_path(@conn, :new), class: "btn btn-secondary") %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <%= if flash = get_flash(@conn, :info) do %>
          <div class="alert alert-primary" role="alert">
            <%= flash %>
          </div>
        <% end %>
        <%= if flash = get_flash(@conn, :error) do %>
          <div class="alert alert-danger" role="alert">
            <%= flash %>
          </div>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="text-muted"><%= link("Gossip Project", to: "https://github.com/oestrich/gossip", target: "_blank") %></p>
          </div>
          <div class="col-md-3 offset-md-6">
            <p class="text-right"><%= link("Become a Patron!", to: "https://www.patreon.com/midmud", target: "_blank") %></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
