<!DOCTYPE html>
<html lang="en">
  <%= render("_head.html", assigns) %>

  <body id="body" data-user-token="<%= @conn |> user_token() %>">
    <%= render("_header.html", assigns) %>

    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= render("_analytics.html", assigns) %>
  </body>
</html>
