<div class="col-md-3">
  <div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link("Manage Queue", to: Routes.decanter_queue_path(@conn, :index), class: "nav-link") %>
      </li>
    </ul>
  </div>
</div>
