<p>Grapevine failed to scrape <%= @game.name %>.</p>

<p>Below is the connection that was attempted.</p>

<dl>
  <dt>Type</dt>
  <dd><%= @connection.type %></dt>

  <dt>Host</dt>
  <dd><%= @connection.host %></dd>

  <dt>Port</dt>
  <dd><%= @connection.port %></dd>
</dl>

<ul>
  <li><%= link("View game", to: Routes.game_url(Endpoint, :show, @game.short_name)) %></li>
</ul>
