# App artifacts
_build
deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
/apps/grapevine/assets/node_modules

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/apps/grapevine/priv/static/

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
config/*.secret.exs
/apps/grapevine/config/*.local.exs

/backups/
env.sh
scp.sh
*.sql
/deploy/hosts_*
/deploy/group_vars/*
/.vagrant
tmp/

/apps/grapevine/uploads/
/apps/grapevine/priv/files/*
!/apps/grapevine/priv/files/.gitkeep

.elixir_ls
