<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link("Home", to: page_path(@conn, :index)) %></li>
    <li class="breadcrumb-item active">Code of Conduct</li>
  </ol>
</nav>

<%= render("_conduct.html") %>
