<div class="col-md-2">
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link("Dashboard", to: admin_dashboard_path(@conn, :index), class: "nav-link") %>
    </li>
    <li class="nav-item">
      <%= link("Alerts", to: admin_alert_path(@conn, :index), class: "nav-link") %>
    </li>
  </ul>
</div>
