[Unit]
Description=Runner for Grapevine
After=network.target

[Service]
User=deploy
Group=deploy
WorkingDirectory=/home/deploy/grapevine
Environment=LANG=en_US.UTF-8
ExecStart=/home/deploy/grapevine/bin/grapevine foreground
SyslogIdentifier=grapevine
RemainAfterExit=no
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
