<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3><%= @current_game.name %> Settings</h3>

    <dl>
      <dd>Client ID</dd>
      <dl><code><%= @current_game.client_id %></code></dl>

      <dd>Client Secret</dd>
      <dl><code><%= @current_game.client_secret %></code></dl>
    </dl>
  </div>
</div>
