<div class="col-md-2">
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link("Account", to: manage_setting_path(@conn, :show), class: "nav-link") %>
    </li>
    <li class="nav-item">
      <%= link("Games", to: manage_game_path(@conn, :index), class: "nav-link") %>
    </li>
  </ul>
</div>
