$black: #000000;

$dark-grey: #202020;
$medium-grey: #555555;

$green-04: hsla(120, 95%, 10%, 1);
$green-03: hsla(120, 95%, 16%, 1);
$green-02: hsla(118, 80%, 26%, 1);
$green-01: hsla(116, 80%, 37%, 1);
$green: hsla(120, 88%, 40%, 1);
$green-1: hsla(107, 80%, 61%, 1);
$green-2: hsla(102, 80%, 74%, 1);
$green-3: hsla(97, 95%, 86%, 1);
$green-4: hsla(92, 95%, 93%, 1);

$grey-04: hsla(212, 36%, 16%, 1);
$grey-03: hsla(212, 30%, 26%, 1);
$grey-02: hsla(212, 18%, 35%, 1);
$grey-01: hsla(212, 13%, 48%, 1);
$grey: hsla(212, 10%, 60%, 1);
$grey-1: hsla(212, 13%, 70%, 1);
$grey-2: hsla(212, 18%, 80%, 1);
$grey-3: hsla(212, 23%, 90%, 1);
$grey-4: hsla(212, 37%, 97%, 1);

$purple-04: hsla(260, 70%, 18%, 1);
$purple-03: hsla(263, 60%, 34%, 1);
$purple-02: hsla(268, 58%, 46%, 1);
$purple-01: hsla(270, 58%, 56%, 1);
$purple: hsla(272, 58%, 65%, 1);
$purple-1: hsla(276, 60%, 74%, 1);
$purple-2: hsla(280, 70%, 84%, 1);
$purple-3: hsla(282, 75%, 92%, 1);
$purple-4: hsla(284, 90%, 96%, 1);

$yellow-04: hsla(31, 100%, 20%, 1);
$yellow-03: hsla(38, 100%, 24%, 1);
$yellow-02: hsla(42, 100%, 32%, 1);
$yellow-02: hsla(44, 100%, 42%, 1);
$yellow: hsla(48, 100%, 50%, 1);
$yellow-1: hsla(52, 100%, 67%, 1);
$yellow-2: hsla(55, 100%, 78%, 1);
$yellow-3: hsla(57, 100%, 86%, 1);
$yellow-4: hsla(58, 100%, 90%, 1);

$red-04: hsla(0, 87%, 20%, 1);
$red-03: hsla(1, 87%, 25%, 1);
$red-02: hsla(1, 78%, 33%, 1);
$red-01: hsla(2, 87%, 41%, 1);
$red: hsla(3, 84%, 50%, 1);
$red-1: hsla(10, 89%, 65%, 1);
$red-2: hsla(11, 87%, 78%, 1);
$red-3: hsla(12, 87%, 87%, 1);
$red-4: hsla(14, 94%, 93%, 1);

$blue-04: hsla(230, 94%, 19%, 1);
$blue-03: hsla(225, 87%, 24%, 1);
$blue-02: hsla(223, 78%, 31%, 1);
$blue-01: hsla(221, 78%, 40%, 1);
$blue: hsla(220, 78%, 50%, 1);
$blue-1: hsla(218, 78%, 62%, 1);
$blue-2: hsla(217, 78%, 76%, 1);
$blue-3: hsla(217, 87%, 87%, 1);
$blue-4: hsla(210, 87%, 93%, 1);
