main {
  padding-top: 3em;
}

h4 a {
  display: none;
  color: black;
}

h4:hover a {
  display: inline;
}

.terminal {
  padding: 10px;
  font-size: 1em;
  font-family: "Lucida Console", Monaco, monospace;
}

.channel {
  width: 100%;
  height: 600px;
  background-color: #002b36;
  color: #93a1a1;
}

.blue {
  color: #268bd2;
}

.green {
  color: #859900;
}

footer {
  padding-top: 2em;
}
