@import "colors";

.terminal {
  padding: 10px;
  font-size: 1em;
  font-family: Monaco, monospace;
}

.channel {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  background-color: $black;
  border-radius: 4px;
  color: $grey-2;
}
