@import "colors";

@import "prompt";
@import "terminal";

.chat {
  @include terminal();
  @include prompt();

  .connection {
    margin-right: 16px;

    .green {
      color: $green;
    }

    .red {
      color: $red;
    }
  }

  .active-channel {
    max-width: 128px;
    margin-right: 12px;
  }

  .channel {
    color: $purple;
  }

  .player {
    color: $yellow;
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }
}
