$green: #00bb00;
$light-green: #00CC00;

$black: #000000;
$blue: #3296d4;

$purple: #aa74da;
$dark-purple: #885CAE;

$background-grey: #f8f9fa;

$dark-grey: #202020;
$medium-grey: #555555;
$light-grey: #bababa;
