@import "colors";

.game {
  border-radius: .25rem;

  .add {
    margin-top: 16px;
  }

  .short-name {
    font-size: 16px;
  }

  .home-page {
    font-size: 16px;
  }

  .redirect-uri {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
}
