@import "colors";

.filter {
  background-color: $white;
  border: 2px solid $grey;
  border-radius: 4px;

  padding: 16px;
}

.cover {
  height: 200px;
  width: 300px;
  position: relative;
  background-color: $grey-3;

  .shadow {
    box-shadow: inset 0 0 2px 1px $grey !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.games {
  list-style: none;
  padding-left: 0;

  .game {
    background-color: $white;
    border: 2px solid $grey;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 8px;
    display: flex;
    align-items: center;

    h4 a {
      color: $blue;
      text-decoration: none;
    }

    .user-agent {
      font-size: 16px;
    }

    .tagline {
      height: 20px;
      overflow-y: hidden;
    }

    .status {
      flex: 1;
      font-size: 28px;

      i {
        width: 100%;
        text-align: center;
        display: block;
      }
    }

    .information {
      flex: 9;
    }
  }
}

.game {
  border-radius: .25rem;

  .online {
    color: $green;
  }

  .add {
    margin-top: 16px;
  }

  .short-name {
    font-size: 16px;
  }

  .home-page {
    font-size: 16px;
  }

  .redirect-uri {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.games.online {
  .user-agent {
    margin-bottom: 4px;
  }
}

.players {
  .player {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 2px solid $green;
    border-radius: 4px;
  }
}

.channels {
  padding-bottom: 4px;

  .channel-name {
    font-size: 12px;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 4px;
  }
}
