@import "colors";

body {
  color: $grey-04;
}

.text-muted {
  color: $grey-01 !important;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.btn-primary {
  background-color: $purple;
  border-color: $purple;

  &:not(:disabled):not(.disabled):active:focus,
  &:focus {
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-color: $purple-01;
    border-color: $purple-01;
  }

  &:active,
  &:hover {
    background-color: $purple-01;
    border-color: $purple-01;
  }
}

.btn-secondary {
  background-color: $grey-01;
  border-color: $grey-01;

  &:not(:disabled):not(.disabled):active:focus,
  &:focus {
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-color: $grey;
    border-color: $grey;
  }

  &:active,
  &:hover {
    background-color: $grey;
    border-color: $grey;
  }
}

.jumbotron {
  background-color: $grey-4;
  margin-bottom: 24px;
}

.card-dark {
  background-color: $black;
  border-radius: 4px;
}

.alert-primary {
  color: $blue-03;
  background: $blue-4;
  border-color: $blue-4;
}

.alert-danger {
  color: $red-04;
  background-color: $red-4;
  border-color: $red-4;
}

.breadcrumb {
  background-color: $grey-3;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: $grey-02;
}

.breadcrumb-item.active {
  color: $grey-02;
}

a {
  color: $blue;
}

pre {
  background-color: $grey-3;
}

code {
  color: $red-01;
}
