@import "colors";

section {
  background-color: $grey-4;
  padding: 16px;
  border-radius: 4px;

  img {
    max-width: 100%;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .name {
      display: inline-block;
      flex-grow: 2;
      margin-bottom: 0;
    }

    .actions {
      display: inline-block;
      font-size: 12px;
    }
  }
}

.panel {
  background-color: $white;
  border: 2px solid $grey;
  border-radius: 4px;

  padding: 16px;

  @media only screen and (max-device-width: 736px) {
    margin-bottom: 24px;
  }
}
