@import "colors";

section {
  background-color: $grey-4;
  padding: 16px;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .name {
      display: inline-block;
      flex-grow: 2;
      margin-bottom: 0;
    }

    .actions {
      display: inline-block;
      font-size: 12px;
    }
  }
}
