@import "colors";

.play {
  border-top: 2px solid $grey-02;
  width: 100%;
  position: absolute;
  top: 58px;
  bottom: 0px;

  .game-modal,
  .client-modal,
  .settings {
    display: block;
    position: absolute;
    top: 64px;
    width: 512px;
    background-color: $grey-4;
    border-radius: 4px;
    left: calc(50% - 256px);
    padding: 16px;
    z-index: 3;
  }

  .game-modal {
    background-color: $grey-03;
    color: $grey-4;
    padding: 0;
    width: 768px;

    nav {
      margin-bottom: 0;
    }

    .header {
      padding: 12px;
    }

    .actions i {
      color: $grey-4;
    }

    .body {
      border: 2px solid $grey-03;
    }

    pre {
      white-space: pre-wrap;
      background-color: $black;
      color: $grey-2;
      margin-bottom: 0;
      max-height: 400px;
    }
  }

  .settings-toggle {
    display: block;
    position: absolute;
    top: 12px;
    width: 16px;
    right: 32px;
    color: $grey-4;
    cursor: pointer;
    font-size: 24px;
  }

  .top-dock {
    position: absolute;
    top: 12px;
    width: 256px;
    right: 12px;

    .gauges {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }

  .window {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .terminal {
    width: 100%;
    padding: 16px;
    flex-grow: 1;
    overflow-y: scroll;
    background-color: $black;
    color: $grey-2;
    white-space: pre-wrap;
    z-index: 2;
  }

  .connection {
    margin-right: 16px;

    .green {
      color: $green;
    }

    .red {
      color: $red;
    }
  }

  .alert {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 280px;

    &.alert-warning {
      background-color: rgba($yellow-4, 0.6);
      border-color: rgba($yellow-1, 0.6);
      color: $grey-04;
    }
  }

  .prompt {
    display: flex;
    flex-shrink: 0;
    padding: 16px;
    z-index: 10;
    background-color: white;

    .connection {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        flex: 1;
      }
    }

    #prompt {
      flex: 1;
      margin-right: 8px;
    }

    #send {
      margin-left: 8px;
    }
  }

  pre {
    height: 100%;
  }
}

.gauges {
  width: 100%;
  height: 45px;
  display: flex;
  background-color: $grey-3;
  flex-shrink: 0;
  z-index: 3;

  .gauge {
    position: relative;
    background-color: $grey-1;
    border-radius: 4px;
    margin: 4px;
    flex: 1;
    flex-grow: 1;
    font-size: 24px;

    span {
      position: relative;
      padding-left: 12px;
      display: inline-block;
      width: 100%;
      z-index: 13;
    }
  }

  .red {
    .gauge-bar {
      background-color: $red;
    }

    color: white;
  }

  .blue {
    .gauge-bar {
      background-color: $blue;
    }

    color: white;
  }

  .green {
    .gauge-bar {
      background-color: $green;
    }

    color: white;
  }

  .yellow {
    .gauge-bar {
      background-color: $yellow;
    }
  }

  .purple {
    .gauge-bar {
      background-color: $purple;
    }

    color: white;
  }

  .gauge-bar {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
  }
}
