@import "colors";

.play {
  border-top: 2px solid $grey-02;
  width: 100%;
  position: absolute;
  top: 58px;
  bottom: 0px;

  .window {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .terminal {
    width: 100%;
    padding: 16px;
    flex-grow: 1;
    overflow-y: scroll;
    background-color: $black;
    color: $grey-2;
    white-space: pre-wrap;
  }

  .alert {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 300px;

    &.alert-danger {
      background-color: rgba($red-3, 0.6);
      border-color: rgba($red-2, 0.6);
    }
  }

  .prompt {
    display: flex;
    flex-shrink: 0;
    margin: 16px;

    #prompt {
      flex: 1;
      margin-right: 8px;
    }

    #send {
      margin-left: 8px;
    }
  }

  pre {
    height: 100%;
  }
}

.gauges {
  width: 100%;
  height: 45px;
  display: flex;
  background-color: $grey-3;
  flex-shrink: 0;

  .gauge {
    position: relative;
    background-color: $grey-1;
    border-radius: 4px;
    margin: 4px;
    flex-grow: 1;
    font-size: 24px;

    span {
      position: relative;
      padding-left: 12px;
      z-index: 3;
    }
  }

  .red {
    .gauge-bar {
      background-color: $red;
    }

    color: white;
  }

  .blue {
    .gauge-bar {
      background-color: $blue;
    }

    color: white;
  }

  .green {
    .gauge-bar {
      background-color: $green;
    }

    color: white;
  }

  .yellow {
    .gauge-bar {
      background-color: $yellow;
    }
  }

  .purple {
    .gauge-bar {
      background-color: $purple;
    }

    color: white;
  }

  .gauge-bar {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }
}
