<h2><%= @channel.name %></h2>

<div id="channel-<%= @channel.name %>" data-channel="<%= @channel.name %>" class="terminal channel">
</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  new ChatSocket("<%= @channel.name %>", ".channel").connect();
});
</script>
