<div class="jumbotron text-center hosted">
  <div class="container">
    <%= GameView.cover_img_with_default(@conn, @game) %>
    <p class="lead text-muted"><%= text_to_html(@game.description) %></p>
    <%= link("Play", to: Routes.play_path(@conn, :show), class: "btn btn-primary") %>
  </div>
</div>
